.started {
    margin: calc(var(--gap-2) * 4) 0;
    padding: var(--gap-2) 0;

    .hold {
        padding: var(--gap-3) 0;
        text-align: center;
        @include flex($fd: column, $ai: center);
    }
    &Title {
        font-size: 2.75rem;
    }
    &Btn {
        margin-top: var(--gap-2);
        padding: var(--gap-1) var(--gap-4);
        font-size: 1.1rem;
        font-weight: 600;
        background: var(--pink);
        color: var(--veryPaleBlue);
        border: 1px solid var(--pink);
        border-radius: var(--gap-3);
    }

    //
    //
    //
    @include medium() {
        padding: var(--gap-2) 0;

        &Title {
            font-size: 2rem;
        }
        &Btn {
            font-size: 1rem;
        }
    }
}
